.gameStatus {
    font-size: 13px;
}

.right-side-buttons div {
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.squareButton {
    width: 32px !important;
    height: 32px !important;
}

.squareButton img {
    width: 16px !important;
    height: 16px !important;
}

#sidebarRight {
    display: none;
}
#wrapper {
  grid-template-areas:
  "main"
  "bottom" !important;
grid-template-columns: 1fr !important;
}

#mainArea {
    margin-left: 0px !important;
}

#bottomPanel {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 100% !important;
    border-radius: 20px !important;
}


.hand {
    width: 100% !important;
    padding-left: 0px !important;
}